*{
    background-color: rgb(0, 0, 0);
    color: wheat;
    margin: 4pt;
}
#convert{
    background-color: rgb(0, 136, 255);
}
#currency_from_code{
    background-color: azure;
    color: black;
}
#currency_to_code{
    background-color: azure;
    color: black;
}

#amount{
    background-color: rgb(0, 0, 0);
    color: wheat;
}
#result{
    font-size: 14pt;
}